@model GBC_Travel_Group_54.Models.Car

@{
    ViewData["Title"] = "Car Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalCompanies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalCompanies)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPricePerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalPricePerDay)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumPassenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumPassenger)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
