@model GBC_Travel_Group_54.Models.BookingFlight

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="FlightId" />
    <input type="hidden" asp-for="PassengerId" />

    <h2>Create Booking</h2>

    @if (Model.Flight != null)
    {
        <div>
            <h3>Flight Details</h3>
            <p>Departure Airport: @Model.Flight.DepartureAirport</p>
            <p>Arrival Airport: @Model.Flight.ArrivalAirport</p>
            <p>Airline: @Model.Flight.ArrivalAirport</p>
            <p>Departure DateTime: @Model.Flight.DepartureDateTime</p>
            <p>Arrival DateTime: @Model.Flight.ArrivalDateTime</p>
            <p>Price: @Model.Flight.Price</p>
        </div>
    }

    @if (Model.Passenger != null)
    {
        <div>
            <h3>Passenger Details</h3>
            <p>Name: @Model.Passenger.FirstName</p>
            <p>Last Name: @Model.Passenger.LastName</p>
            <p>Email: @Model.Passenger.Email</p>
        </div>
    }

    <button type="submit">Create Booking</button>
    <a asp-action="Index" asp-controller="Flight" class="btn btn-primary">Cancel</a>
</form>